<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="suzumaze-bear-phpactor-extension">
            <directory>tests</directory>
            <!-- フィクスチャはテスト対象ではない。ArticleTest.php のように
                 Test 接尾辞のクラスを置くことがあるため、発見から外す -->
            <exclude>tests/Fixture</exclude>
        </testsuite>
    </testsuites>
</phpunit>
